.about-us {
  padding: 35px 10px;

  &__description {
    margin-bottom: 35px;
    h2 {
      font-size: 34px;
      font-weight: 700;
      color: $blue;
      font-style: normal;
      margin-bottom: 30px;
    }
    p {
      max-width: 1120px;
      font-size: 18px;
      span {
        color: $orange;
      }
    }
    img {
      object-fit: contain;
      width: 1120px;
      height: 415px;
      border-radius: 5px;
      margin-bottom: 20px;
      @media (max-width: 1150px) {
        width: 940px;
        height: 346px;
      }
      @media (max-width: 960px) {
        width: 360px;
        height: 140px;
      }
    }
  }
  &__factory {
    background-color: rgba(67, 82, 128, 0.8);
    opacity: 0;
    transform: translateX(-80%);
    transition: transform 0.5s ease-in-out;
    &-active {
      opacity: 1;
      transform: translateX(0);
    }
    div {
      padding: 40px 20px;
      p {
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        color: #fff;
      }
      ul {
        margin-top: 20px;
        margin-bottom: 20px;
        li {
          text-indent: 20px;
          font-style: normal;
          font-size: 16px;
          line-height: 19px;
          color: #fff;
        }
      }
    }
  }
  &__facts {
    h2 {
      font-size: 34px;
      font-weight: 700;
      color: $blue;
      font-style: normal;
      margin-bottom: 30px;
    }
  }
  &__blocks {
    margin-right: 30px;
    &:first-child {
      div {
        &:hover {
          transform: translateX(3%);
        }
      }
    }
    &:last-child {
      div {
        &:hover {
          transform: translateX(-3%);
          @media (max-width: 960px) {
            transform: translateX(3%);
          }
        }
      }
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      width: 340px;
      height: 80px;
      background-color: $blue;
      margin-bottom: 30px;
      transition: transform 0.3s ease-in-out;
      cursor: pointer;
      @media (max-width: 960px) {
        width: 255px;
        height: 75px;
      }
      h3 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        color: #fff;
        p {
          margin-top: 8px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #fff;
          @media (max-width: 960px) {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
      img {
        width: 85px;
        height: 60px;
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;
  }
}
