.about-us {
  padding: 35px 10px;
  &__description {
    margin-bottom: 35px;
    h2 {
      font-size: 34px;
      font-weight: 700;
      color: $blue;
      font-style: normal;
      margin-bottom: 50px;
    }
    p {
      max-width: 1120px;
      font-size: 18px;
      span {
        color: $orange;
      }
    }
    img {
      object-fit: contain;
      width: 1120px;
      border-radius: 5px;
      margin-bottom: 20px;
      @media (max-width: 1150px) {
        width: 940px;
      }
      @media (max-width: 960px) {
        width: 360px;
      }
    }
  }
  &__factory {
    background-color: rgba(67, 82, 128, 0.8);
    opacity: 0;
    transform: translateX(-80%);
    transition: transform 0.5s ease-in-out;
    &-active {
      opacity: 1;
      transform: translateX(0);
    }
    div {
      padding: 40px 20px;
      p {
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        color: #fff;
      }
      ul {
        margin-top: 20px;
        margin-bottom: 20px;
        li {
          text-indent: 20px;
          font-style: normal;
          font-size: 16px;
          line-height: 19px;
          color: #fff;
        }
      }
    }
  }
  &__facts {
    h2 {
      font-size: 34px;
      font-weight: 700;
      color: $blue;
      font-style: normal;
      margin-bottom: 50px;
    }
  }
  &__blocks {
    margin-right: 25px;
    @media (max-width: 960px) {
      margin-right: 0;
    }
    &:first-child {
      div {
        &:hover {
          transform: translateX(3%);
        }
      }
    }
    &:last-child {
      div {
        &:hover {
          transform: translateX(-3%);
          @media (max-width: 960px) {
            transform: translateX(3%);
          }
        }
      }
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      width: 480px;
      max-width: 100%;
      height: 80px;
      background-color: $blue;
      margin-bottom: 15px;
      transition: transform 0.3s ease-in-out;
      border-radius: 10px;
      cursor: pointer;
      @media (max-width: 1140px) {
        width: 400px;
      }
      @media (max-width: 960px) {
        width: 300px;
      }
      h3 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        color: #fff;
        p {
          margin-top: 8px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #fff;
          @media (max-width: 960px) {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
      img {
        width: 85px;
        height: 60px;
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__facility {
    padding: 50px 10px;
    h2 {
      font-size: 34px;
      font-weight: 700;
      color: $blue;
      font-style: normal;
      margin-bottom: 50px;
    }
    p {
      max-width: 1120px;
      font-size: 18px;
      span {
        color: $orange;
        font-weight: 500;
      }
    }
    img {
      object-fit: cover;
      width: 600px;
      max-height: 340px;
      border-radius: 5px;
      margin-bottom: 20px;
      @media (max-width: 960px) {
        width: 100%;
      }
    }
    .swiper {
      width: 100%;
      height: 500px;
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        div {
          text-align: left;
          max-width: 600px;
          h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 23px;
            color: $blue;
          }
          p {
            font-size: 16px;
            line-height: 23px;
          }
        }
      }
      @media (max-width: 960px) {
        height: 350px;
      }
      .swiper-pagination-bullet {
        height: 10px;
        width: 10px;
        background-color: $blue;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
        &:hover {
          transform: scale(1.3);
          background-color: #435280 !important;
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        padding: 10px;
        border-radius: 3px;
        background-color: $blue;
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
        svg {
          width: 20px;
        }
        &::after {
          display: none;
        }
        @media (max-width: 960px) {
          display: none;
        }
      }
      .swiper-button-prev {
        &:hover {
          transform: translateX(-5px);
          background-color: $orange;
        }
      }
      .swiper-button-next {
        &:hover {
          transform: translateX(5px);
          background-color: $orange;
        }
      }
    }
  }
}
