.call-us {
  padding: 20px 0;
  h2 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
    color: $blue;
    font-style: normal;
  }
  &__form {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    input {
      margin-bottom: 15px;
      padding: 15px;
      border: solid 2px $orange;
      font-size: 16px;
      outline: none;
      &::placeholder {
        font-size: 16px;
      }
    }
    button {
      max-width: 250px;
      background-color: $blue;
      padding: 15px;
      border: none;
      font-size: 18px;
      color: #fff;
      cursor: pointer;
    }
  }
}
